<label for="state" class="form-label">Location</label><br>

<select onchange="print_city('state', this.selectedIndex);" id="sts" name ="state" class="form-control" required></select>
<select id ="state" name="city" class="form-control" required></select>
<script language="javascript">print_state("sts");</script>
                