<h4 class="display-5 fw-bold my-4" ><i class="bi bi-kanban-fill"></i> Dashboard</h4>

<h3>Hello, <%=userInfo.name%></h3>

<div class="container px-4">
    <div class="row gx-5">
        
        <div class="col-12 card mx-2 my-4">
            <div class="card-body">
              <h5 class="card-title"><i class="bi bi-table"></i> Sales</h5>
              <p class="card-text">Easily manage and track your sales with just a few clicks.</p>
              <a href="/sales" class="btn btn-primary">Go to Sales</a>
            </div>
          </div>

          <div class="col-12 card mx-2 my-4">
            <div class="card-body">
              <h5 class="card-title"><i class="bi bi-grid-fill"></i> Manager Product</h5>
              <a href="/retailers-view-all-products" class="btn btn-primary">View Product</a>
              <a href="/retailers-submit" class="btn btn-success">Add New Product</a>
            </div>
          </div>
    </div>

</div>